.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 600px;
  margin: 30px auto;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(250, 242, 234); */
  margin-bottom:40px;
  /* height: max-content;  */
  position: relative;
}

.btn {
  width: 55px;
  height: 55px;
  margin-bottom: 15px;
  color: white;
  font-size: 40px;
  font-weight: 200;
  border-radius: 50%;
  border: none;
  background-color: rgb(0, 150, 255);

}

.design{
  /* width:300px; */
  padding:20px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  /* display: flex;
  flex-direction: column; */

}

.design input, textarea {
  padding: 10px ;
  width: 100%;
  border-radius: 5px; 
  color: rgb(145, 135, 135);
  font-size: 15px;
  border: 1px solid rgb(185, 182, 182);
}

.design input :focus {
  border: 1px solid blue;
}

.design button {
  margin:10px 10px 0px 0px;
  padding: 5px 15px;
  font-size: 15px;
}
.edit{
  padding: 7px 22px;
  margin-right: 10px;
  color: white;
  font-size: 18px;
  border: none;
  background-color: rgb(65, 165, 236);
  border-radius: 4px;
}
.delete{
  padding: 7px 22px;
  color: white;
  font-size: 18px;
  border: none;
  background-color: rgb(223, 64, 103);
  border-radius: 4px;
}
.list{
  width: 90%;
  text-align: left;
  padding: 10px 0px 15px 30px;
  height: max-content;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.list h2 {
  color: rgb(102, 101, 101);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  margin-top: -1px;
  font-size: 20px;
}
 
.list span {
  display: block;
  margin-top: -10px;
  color: gray;
  font-size: 16px;
  margin-bottom: 10px;
}

.clearAll {
  text-align: center;
  margin-left: -450px;
  width: 20%;
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  margin-top: 15px;
  background: transparent;
  color: rgb(151, 42, 42);
  border: 2px solid rgb(204, 46, 46);
  /* background-color: rgb(255, 0, 64); */
  border-radius: 4px;
}